*{
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}

.center{
    padding: 0;
    margin-left: auto !important;
    margin-right: auto !important;
}

.header {
    min-height: 100vh;
    width: 100%;
    background-image: linear-gradient(rgba(77,87,101,0.7), rgba(4,9,30,0.7));
    background-position: center;
    background-size: cover;
    position: relative;
}

nav{
    display: flex;
    padding: 2% 6%;
    justify-content: space-between;
    align-items: center;
}

nav img{
    width: 150px;
}

.nav-links{
    flex: 1;
    text-align: right;
}

.nav-links ul li{
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;
}

.nav-links ul li a{
    color: #fff;
    text-decoration: none;
    font-size: 13px;
}

.nav-links ul li::after{
    content: '';
    width: 0%;
    height: 2px;
    background: #ffca00;
    display: block;
    margin: auto;
    transition: 0.5s;
}

.nav-links ul li:hover::after{
    width: 100%;
}

.text-box{
    width: 90%;
    color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.text-box h1{
    font-size: 62px;
}

.text-box p{
    margin: 10px 0 40px;
    font-size: 14px;
    color: #fff;
}

.hero-btn{
    display: inline-block;
    text-decoration: none;
    color: #fff;
    border: 1px solid #fff;
    padding: 12px 34px;
    font-size: 13px;
    background: transparent;
    position: relative;
    cursor: pointer;
}

.hero-btn:hover{
    border: 1px solid #cca100;
    background: #cca100;
    transition: 1s;
}

nav .fa{
    display: none;
}

@media(max-width: 700px){
    .text-box h1 {
        font-size: 20px;
    }

    .nav-links {
        position: absolute;
        background: #cca100;
        height: 100vh;
        width: 200px;
        top: 0;
        right: -200px;
        text-align: left;
        z-index: 2;
        transition: 1s;
    }

    .nav-links ul{
        padding: 30px;
    }

    .nav-links ul li {
        display: block;
    }

    nav .fa {
        display: block;
        color: #fff;
        margin: 10px;
        font-size: 22px;
        cursor: pointer;
    }
}

/*-----Capbility-----*/

.capability{
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 100px;
}

h1{
    font-size: 36px;
    font-weight: 600;
}

p {
    color: #332800;
    font-size: 14px;
    font-weight: 300;
    line-height: 22px;
    padding: 10px;
}

.rows{
    margin-top: 5%;
    display: flex;
    justify-content: space-between;
}

.capability-col{
    flex-basis: 31%;
    background: #ffefb2;
    border-radius: 10px;
    margin-bottom: 5%;
    padding: 20px 12px;
    box-sizing: border-box;
    transition: 0.5s;
}

.capability-col:hover{
    box-shadow: 0 0 20px 0px rgba(0,0,0,0.2);
}

h3{
    text-align: center;
    font-weight: 600;
    margin: 10px 0;
}

@media(max-width: 700px) {
    .rows{
        flex-direction: column;
    }
}

/*-----Study-----*/

.study{
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 50px;
}

.study-col-1 {
    flex-basis: 49%;
    border-radius: 10px;
    margin-bottom: 30px;
    position: relative;
    overflow: hidden;
}

.study-col-1 img {
    width: 100%;
    display: block;
}

.study-col{
    flex-basis: 32%;
    border-radius: 10px;
    margin-bottom: 30px;
    position: relative;
    overflow: hidden;
}

.study-col img{
    width: 100%;
    display: block;
}

/*-----Resource-----*/

.resource{
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 50px;
}

.resource-col {
    flex-basis: 49%;
    border-radius: 10px;
    margin-bottom: 30px;
    position: relative;
    overflow: hidden;
}

.resource-col img {
    width: 100%;
    display: block;
}

/*-----Yellow Layer-----*/

.y-layer{
    background: transparent;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    transition: 0.5s;
}

.y-layer:hover{
    background: rgba(255,202,0,0.7);
}

.y-layer h3{
    width: 100%;
    font-weight: 500;
    color: #fff;
    font-size: 20px;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    position: absolute;
    opacity: 0;
    transition: 0.5s;
}

.y-layer:hover h3{
    top: 10%;
    opacity: 1;
}

/*-----Blue Layer-----*/

.b-layer{
    background: transparent;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    transition: 0.5s;
}

.b-layer:hover{
    background: #dafbffb4;
}

.b-layer h3{
    width: 100%;
    font-weight: 500;
    color: #fff;
    font-size: 20px;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    position: absolute;
    opacity: 0;
    transition: 0.5s;
}

.b-layer:hover h3{
    top: 10%;
    opacity: 1;
}