*{
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}

.center{
    padding: 0;
    margin-left: auto !important;
    margin-right: auto !important;
}

.header {
    min-height: 100vh;
    width: 100%;
    background-image: linear-gradient(rgba(77,87,101,0.7), rgba(4,9,30,0.7));
    background-position: center;
    background-size: cover;
    position: relative;
}

nav{
    display: flex;
    padding: 2% 6%;
    justify-content: space-between;
    align-items: center;
}

nav img{
    width: 150px;
}

.nav-links{
    flex: 1;
    text-align: right;
}

.nav-links ul li{
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;
}

.nav-links ul li a{
    color: #fff;
    text-decoration: none;
    font-size: 13px;
}

.nav-links ul li::after{
    content: '';
    width: 0%;
    height: 2px;
    background: #ffca00;
    display: block;
    margin: auto;
    transition: 0.5s;
}

.nav-links ul li:hover::after{
    width: 100%;
}

.text-box{
    width: 90%;
    color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.text-box h1{
    font-size: 62px;
}

.text-box p{
    margin: 10px 0 40px;
    font-size: 14px;
    color: #fff;
}

.hero-btn{
    display: inline-block;
    text-decoration: none;
    color: #fff;
    border: 1px solid #fff;
    padding: 12px 34px;
    font-size: 13px;
    background: transparent;
    position: relative;
    cursor: pointer;
}

.hero-btn:hover{
    border: 1px solid #cca100;
    background: #cca100;
    transition: 1s;
}

nav .fa{
    display: none;
}

@media(max-width: 700px){
    .text-box h1 {
        font-size: 20px;
    }

    .nav-links {
        position: absolute;
        background: #cca100;
        height: 100vh;
        width: 200px;
        top: 0;
        right: -200px;
        text-align: left;
        z-index: 2;
        transition: 1s;
    }

    .nav-links ul{
        padding: 30px;
    }

    .nav-links ul li {
        display: block;
    }

    nav .fa {
        display: block;
        color: #fff;
        margin: 10px;
        font-size: 22px;
        cursor: pointer;
    }
}

h3{
    text-align: center;
    font-weight: 600;
    margin: 10px 0;
}

@media(max-width: 700px) {
    .row{
        flex-direction: column;
    }
}

.icons .fa{
    color: #332800;
    margin: 0 13px;
    cursor: pointer;
    padding: 18px 0;
}

.profile-header{
    font-size: 25px;
    text-align: center;
}

.text-center{
    text-align: center;

}

.mb-5{
    margin-bottom: 2em;
}

.mt-5{
    margin-top: 3em;
}


#root{
    height: 100vh;
}

.login-wrapper{
    background-image: linear-gradient(rgba(77,87,101,0.7), rgba(4,9,30,0.7));
    height: 100%;
    width: 100%;
    position: absolute;


  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}



#loginDiv{
    position: relative;
    background: #d9d9d9;
    top: 50%;
    transform: translateY(-50%);
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0 !important;
    height: 400px;
    width: 400px;
    border-radius: 16px;
    box-shadow: 4px 4px 10px grey;
}

#groupDiv{
    position: relative;
    background: #d9d9d9;
    top: 50%;
    transform: translateY(-50%);
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0 !important;
    height: 500px;
    width: 400px;
    border-radius: 16px;
    box-shadow: 4px 4px 10px grey;
}

#classDiv{
    position: relative;
    background: #d9d9d9;
    top: 50%;
    transform: translateY(-50%);
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0 !important;
    height: 400px;
    width: 400px;
    border-radius: 16px;
    box-shadow: 4px 4px 10px grey;
}


@media screen and (max-width: 450px) {
    #loginDiv{
       width: 300px;
       height: 400px;
    }
 }

 @media screen and (max-width: 315px) {
    #loginDiv{
       width: 250px;
       height: 400px;
    }

    .signUp-btn{
        width: 200px !important;
    }

    .input-field{
        width: 200px !important;
    }
 }

.logo{
    height: 100px;
}

.hover:hover{
    cursor: pointer;
}


.variant1-btn{
    text-decoration: none;
    background: none;
    border: solid .5px grey;
    width: 130px;
    height: 35px;
    border-radius: 8px;
    transition: .7s;
}

.variant1-btn:hover{
    background: #ffca00;
    box-shadow: 0 0 2em #ffca00;
    color: white;
    border: none;
    font-weight: 400;
}

.variant2-btn{
    text-decoration: none;
    background: none;
    border: none;
    border-radius: 8px;
    text-decoration: underline;
    width: 300px;
}

.variant2-btn:hover{
    color: #ffca00;
}

.input-field{
    border-radius: 8px;
    border: none;
    padding-left: 10px;
    height: 35px;
    width: 250px;
}
