*{
    margin: 0;
    padding: 0;
}
html, body, #root {
    height: 100%;
    margin: 0;
    padding: 0;
}


.wrapper{
    height: 100%;
    width: 100%;
    background: black;
}


#loginDiv{
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5%;
    height: 400px;
    width: 400px;
    border-radius: 16px;
    box-shadow: 4px 4px 10px grey;
    background: #d9d9d9;
}