*{
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}

.center{
    padding: 0;
    margin-left: auto !important;
    margin-right: auto !important;
}

.header {
    min-height: 100vh;
    width: 100%;
    background-image: linear-gradient(rgba(77,87,101,0.7), rgba(4,9,30,0.7));
    background-position: center;
    background-size: cover;
    position: relative;
}

nav{
    display: flex;
    padding: 2% 6%;
    justify-content: space-between;
    align-items: center;
}

nav img{
    width: 150px;
}

.nav-links{
    flex: 1;
    text-align: right;
}

.nav-links ul li{
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;
}

.nav-links ul li a{
    color: #fff;
    text-decoration: none;
    font-size: 13px;
}

.nav-links ul li::after{
    content: '';
    width: 0%;
    height: 2px;
    background: #ffca00;
    display: block;
    margin: auto;
    transition: 0.5s;
}

.nav-links ul li:hover::after{
    width: 100%;
}

.text-box{
    width: 90%;
    color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.text-box h1{
    font-size: 62px;
}

.text-box p{
    margin: 10px 0 40px;
    font-size: 14px;
    color: #fff;
}

.hero-btn{
    display: inline-block;
    text-decoration: none;
    color: #fff;
    border: 1px solid #fff;
    padding: 12px 34px;
    font-size: 13px;
    background: transparent;
    position: relative;
    cursor: pointer;
}

.hero-btn:hover{
    border: 1px solid #cca100;
    background: #cca100;
    transition: 1s;
}

nav .fa{
    display: none;
}

@media(max-width: 700px){
    .text-box h1 {
        font-size: 20px;
    }

    .nav-links {
        position: absolute;
        background: #cca100;
        height: 100vh;
        width: 200px;
        top: 0;
        right: -200px;
        text-align: left;
        z-index: 2;
        transition: 1s;
    }

    .nav-links ul{
        padding: 30px;
    }

    .nav-links ul li {
        display: block;
    }

    nav .fa {
        display: block;
        color: #fff;
        margin: 10px;
        font-size: 22px;
        cursor: pointer;
    }
}

h1{
    font-size: 36px;
    font-weight: 600;
}

p {
    color: #332800;
    font-size: 14px;
    font-weight: 300;
    line-height: 22px;
    padding: 10px;
}

.study-rows{
    margin-top: 5%;
    display: flex;
    justify-content: space-between;
}

@media(max-width: 700px) {
    .study-rows{
        flex-direction: column;
    }
}

/*-----Content-----*/

.content{
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 100px;
}

.content-col{
    flex-basis: 100%;
    min-height: fit-content;
    background: #dafbff;
    border-radius: 10px;
    margin-bottom: 5%;
    padding: 20px 12px;
    box-sizing: border-box;
    box-shadow: 0 0 20px 0px rgba(0,0,0,0.7);
    transition: 0.5s;
}

/*-----Functionality-----*/

.functionality{
    width: 100%;
    margin: auto;
    text-align: center;
    padding-top: 100px;
}

.functionality-0-but {
    margin-left: 0%;
    margin-bottom: 5%;
    width: 10%;
    background: #ff0000;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    padding: 20px 12px;
    box-sizing: border-box;
    transition: 0.5s;
}

.functionality-0-but:hover {
    box-shadow: 0 0 20px 0px rgba(0,0,0,0.7);
}

.functionality-1-but {
    margin-right: 0%;
    margin-bottom: 5%;
    width: 10%;
    background: #0aff00;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    padding: 20px 12px;
    box-sizing: border-box;
    transition: 0.5s;
}

.functionality-1-but:hover {
    box-shadow: 0 0 20px 0px rgba(0,0,0,0.7);
}

.functionality-col {
    flex-basis: 40%;
    height: 60vh;
    background: #ffefb2;
    border-radius: 10px;
    margin-bottom: 5%;
    padding: 20px 12px;
    box-sizing: border-box;
    transition: 0.5s;
}

.functionality-col:hover{
    box-shadow: 0 0 20px 0px rgba(0,0,0,0.2);
}

/*-----Group Content-----*/

.group-section{
    margin: 250px auto;
    width: 80%;
    /* background-position: center; */
    /* background-size: cover; */
    /* border-radius: 10px; */
    text-align: center;
    /* padding: 100px 0; */
    margin-bottom: 20px;
}

#group-info-box {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 480px;
    height: 400px;
    /* background-color: #FFFFFF; */
    border-radius: 10px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.15);
    text-align: center;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background: linear-gradient(to bottom, #B3D9FF, #FFFFFF);
    transition: width 0.5s, height 0.5s;
}

#group-info-box:hover {
    width: 600px;
    height: 400px;
    transition: width 0.5s, height 0.5s;
}

#group-name {
    font-size: 28px;
    font-weight: bold;
    color: #202020;
    background-color: #faf9f9;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.15);
}

#group-summary {
    font-size: 18px;
    color: #202020;
    width: 75%;
    margin-right: 5%;
    float: left;
}

#group-classes {
    font-size: 18px;
    color: #202020;
    width: 25%;
    margin-left: 5%;
    float: right;
    border-left: 2px solid #202020;
    padding-left: 10px;
}

#group-rating {
    font-size: 18px;
    font-weight: bold;
    color: #202020;
    background-color: #faf9f9;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.15);
}

.star {
    font-size: 18px;
    color: #E4E4E4;
    margin: 0 5px;
    cursor: pointer;
    transition: color 0.2s;
}

.star.active {
    color: #FFD700;
}

.join-btn {
  background-color: #B5EAAA;
  color: #FFFFFF;
  font-size: 18px;
  border-radius: 5px;
  padding: 5px 10px;
  margin-left: 10px;
  cursor: pointer;
  border: none;
  transition: background-color 0.2s;
  transition: padding ease-in-out 0.5s;
}

.join-btn:hover {
  background-color: #007c4e;
  padding: 5px 12px;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.15);
}

.delete-btn {
  background-color: #FF6347;
  color: #FFFFFF;
  font-size: 18px;
  border-radius: 5px;
  padding: 5px 10px;
  margin-left: 10px;
  cursor: pointer;
  border: none;
  transition: background-color 0.2s;
  transition: padding ease-in-out 0.5s;
}

.delete-btn:hover {
  background-color: #f00000;
  padding: 5px 12px;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.15);
}

.pagination-bar {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -150px;
}

.pagination-bar button {
    /* border: none; */
    border: 2px solid transparent;
    border-radius: 10%;
    background-color: #B3D9FF;
    color: white;
    padding: 8px 12px;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
    transition: background-color 0.3s;
}

.pagination-bar button:hover {
    background-color: #3F8CC8;
    border: 2px solid  #20202070;
}

/* .page-numbers {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0px 20px;
} */

/* .page-numbers button:not(:last-child) {
    margin-right: 10px;
} */

.prev-btn, .next-btn {
    display: flex;
    width: 200px;
    justify-content: center;
    align-items: center;
    margin: 0px 20px;
}
  