*{
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}

.center{
    padding: 0;
    margin-left: auto !important;
    margin-right: auto !important;
}

.header {
    min-height: 100vh;
    width: 100%;
    background-image: linear-gradient(rgba(77,87,101,0.7), rgba(4,9,30,0.7));
    background-position: center;
    background-size: cover;
    position: relative;
}

nav{
    display: flex;
    padding: 2% 6%;
    justify-content: space-between;
    align-items: center;
}

nav img{
    width: 150px;
}

.nav-links{
    flex: 1;
    text-align: right;
}

.nav-links ul li{
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;
}

.nav-links ul li a{
    color: #fff;
    text-decoration: none;
    font-size: 13px;
}

.nav-links ul li::after{
    content: '';
    width: 0%;
    height: 2px;
    background: #ffca00;
    display: block;
    margin: auto;
    transition: 0.5s;
}

.nav-links ul li:hover::after{
    width: 100%;
}

.text-box{
    width: 90%;
    color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.text-box h1{
    font-size: 62px;
}

.text-box p{
    margin: 10px 0 40px;
    font-size: 14px;
    color: #fff;
}

.hero-btn{
    display: inline-block;
    text-decoration: none;
    color: #fff;
    border: 1px solid #fff;
    padding: 12px 34px;
    font-size: 13px;
    background: transparent;
    position: relative;
    cursor: pointer;
}

.hero-btn:hover{
    border: 1px solid #cca100;
    background: #cca100;
    transition: 1s;
}

nav .fa{
    display: none;
}

@media(max-width: 700px){
    .text-box h1 {
        font-size: 20px;
    }

    .nav-links {
        position: absolute;
        background: #cca100;
        height: 100vh;
        width: 200px;
        top: 0;
        right: -200px;
        text-align: left;
        z-index: 2;
        transition: 1s;
    }

    .nav-links ul{
        padding: 30px;
    }

    .nav-links ul li {
        display: block;
    }

    nav .fa {
        display: block;
        color: #fff;
        margin: 10px;
        font-size: 22px;
        cursor: pointer;
    }
}

h1{
    font-size: 36px;
    font-weight: 600;
}

p {
    color: #332800;
    font-size: 14px;
    font-weight: 300;
    line-height: 22px;
    padding: 10px;
}

.study-rows{
    margin-top: 5%;
    display: flex;
    justify-content: space-between;
}

@media(max-width: 700px) {
    .study-rows{
        flex-direction: column;
    }
}

/*-----Group Content-----*/

  .search-bar {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 600;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #B3D9FF;
    padding: 10px;
    border-radius: 10px;
    margin-bottom: 20px;
    width: 80%;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.15);
  }
  
  .search-bar input[type="text"] {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    flex: 1;
    padding: 5px 10px;
    border-radius: 5px;
    border: none;
    margin-right: 10px;
    font-size: 18px;
    font-weight: 600;
  }
  
  .create-group-btn {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #ffca00;
    color: white;
    padding: 5px 10px;
    border-radius: 5px;
    border: none;
    font-size: 18px;
    font-weight: 600;
    cursor: pointer;
    transition: ease 0.25s;
  }

  .create-group-btn:hover {
    background-color: #cca100;
  }

  /* Tile Group Section */

.tile-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 50px;
  }
  
  .tile {
    width: 500px;
    border: 1px solid #ccc;
    margin: 10px;
    box-shadow: 2px 2px 4px rgba(0,0,0,0.3);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  
  .tile-header {
    background: linear-gradient(to bottom, #B3D9FF, #FFFFFF);
    padding: 10px;
    text-align: center;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
  }
  
  .tile-header h3 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 600;
    font-size: 24px;
  }

  #group-name {
    font-size: 28px;
    font-weight: bold;
    color: #202020;
    background-color: #faf9f9;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.15);
  } 
  
  .header-details {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .header-details p{
    font-size: 16px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 400;
  }
  
  .tile-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
  }
  
  .objective {
    width: 78%;
    font-size: 16px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  }
  
  .objective p {
    margin: 0;
    margin-bottom: 10px;
  }

  .objective p section{
    margin: 0;
  }
  
  .members {
    width: 20%;
    font-size: 16px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  }
  
  .members p {
    margin: 0;
    margin-bottom: 10px;
    font-size: 16px;
  }
  
  .members ul {
    list-style: none;
    font-size: 16px;
    margin: 0;
    padding: 0;
  }
  
  .members li {
    font-size: 16px;
    margin-bottom: 5px;
  }  
  
  .tile-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: linear-gradient(to top, #B3D9FF, #FFFFFF);
    border-radius: 0px 0px 10px 10px;
    padding: 15px;
  }

  #group-rating {
    display: flex;
    align-items: center;
    background-color: #faf9f9;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.15);
  }

  #group-rating span {
    font-size: 18px;
    margin-right: 5px;
  }
  
  .star {
    font-size: 18px;
    color: #E4E4E4;
    margin: 0 5px;
    cursor: pointer;
    transition: color 0.2s;
    }

    .star.active {
        color: #FFD700;
    }
  
  .join-btn {
    background-color: #B5EAAA;
    margin-right: 10px;
    color: white;
    border: none;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    font-size: 18px;
    font-weight: 600;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.15);
    transition: background-color 0.25s;
    transition: ease-in-out 0.25s;
  }

  .join-btn:hover {
    background-color: #007c4e;
    box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.15);
  }

  .review-btn {
    background-color: #FF6347;
    color: white;
    border: none;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    font-size: 18px;
    font-weight: 600;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.15);
    transition: background-color 0.25s;
    transition: ease-in-out 0.25s;
  }

  .review-btn:hover {
    background-color: #f00000;
    box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.15);
  }

  /* Pagination Button Section */
  
.pagination {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.pagination a {
  color: black;
  padding: 8px 16px;
  text-decoration: none;
  transition: background-color .3s;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 400;
  font-size: 16px;
}

.pagination a.active {
  background-color: #4CAF50;
  color: white;
}

.pagination a:hover:not(.active) {
  background-color: #ddd;
}

 

  .align-center-btn{
    margin-left: auto;
    margin-right: auto;
  }


  .logout-btn{
    color: #fff;
    font-size: 13px;
    text-decoration: none;
  }
  
  