*{
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}

.header {
    min-height: 100vh;
    width: 100%;
    background-image: linear-gradient(rgba(77,87,101,0.7), rgba(4,9,30,0.7)), url(../images/UCF_12.jpg);
    background-position: center;
    background-size: cover;
    position: relative;
}

nav{
    display: flex;
    padding: 2% 6%;
    justify-content: space-between;
    align-items: center;
}

nav img{
    width: 150px;
}

.nav-links{
    flex: 1;
    text-align: right;
}

.nav-links ul li{
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;
}

.nav-links ul li a{
    color: #fff;
    text-decoration: none;
    font-size: 13px;
}

.nav-links ul li::after{
    content: '';
    width: 0%;
    height: 2px;
    background: #ffca00;
    display: block;
    margin: auto;
    transition: 0.5s;
}

.nav-links ul li:hover::after{
    width: 100%;
}

.text-box{
    width: 90%;
    color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.text-box h1{
    font-size: 62px;
}

.text-box p{
    margin: 10px 0 40px;
    font-size: 14px;
    color: #fff;
}

.hero-btn{
    display: inline-block;
    text-decoration: none;
    color: #fff;
    border: 1px solid #fff;
    padding: 12px 34px;
    font-size: 13px;
    background: transparent;
    position: relative;
    cursor: pointer;
}

.hero-btn:hover{
    border: 1px solid #cca100;
    background: #cca100;
    transition: 1s;
}

nav .fa{
    display: none;
}

@media(max-width: 700px){
    .text-box h1 {
        font-size: 20px;
    }

    .nav-links {
        position: absolute;
        background: #cca100;
        height: 100vh;
        width: 200px;
        top: 0;
        right: -200px;
        text-align: left;
        z-index: 2;
        transition: 1s;
    }

    .nav-links ul{
        padding: 30px;
    }

    .nav-links ul li {
        display: block;
    }

    nav .fa {
        display: block;
        color: #fff;
        margin: 10px;
        font-size: 22px;
        cursor: pointer;
    }
}

/*-----Functionality-----*/

.functionality{
    width: 100%;
    margin: auto;
    text-align: center;
    padding-top: 100px;
}

h1 {
    width: 80%;
    margin: auto;
    font-size: 36px;
    font-weight: 600;
}

p {
    width: 80%;
    margin: auto;
    color: #332800;
    font-size: 14px;
    font-weight: 300;
    line-height: 22px;
    padding: 10px;
}

.row{
    margin-top: 5%;
    display: flex;
    justify-content: space-between;
}

.functionality-0-but {
    margin-left: 0%;
    margin-bottom: 5%;
    width: 10%;
    background: #ff0000;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    padding: 20px 12px;
    box-sizing: border-box;
    transition: 0.5s;
}

.functionality-0-but:hover {
    box-shadow: 0 0 20px 0px rgba(0,0,0,0.7);
}

.functionality-1-but {
    margin-right: 0%;
    margin-bottom: 5%;
    width: 10%;
    background: #0aff00;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    padding: 20px 12px;
    box-sizing: border-box;
    transition: 0.5s;
}

.functionality-1-but:hover {
    box-shadow: 0 0 20px 0px rgba(0,0,0,0.7);
}

.functionality-col {
    flex-basis: 40%;
    height: 60vh;
    background: #ffefb2;
    border-radius: 10px;
    margin-bottom: 5%;
    padding: 20px 12px;
    box-sizing: border-box;
    transition: 0.5s;
}

.functionality-col:hover{
    box-shadow: 0 0 20px 0px rgba(0,0,0,0.2);
}

h3{
    text-align: center;
    font-weight: 600;
    margin: 10px 0;
}

@media(max-width: 700px) {
    .row{
        flex-direction: column;
    }
}

/*-----Study-----*/

.study{
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 50px;
}

.study-col-1 {
    flex-basis: 49%;
    border-radius: 10px;
    margin-bottom: 30px;
    position: relative;
    overflow: hidden;
}

.study-col-1 img {
    width: 100%;
    display: block;
}

.study-col{
    flex-basis: 32%;
    border-radius: 10px;
    margin-bottom: 30px;
    position: relative;
    overflow: hidden;
}

.study-col img{
    width: 100%;
    display: block;
}

.layer{
    background: transparent;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    transition: 0.5s;
}

.layer:hover{
    background: rgba(255,202,0,0.7);
}

.layer h3{
    width: 100%;
    font-weight: 500;
    color: #fff;
    font-size: 20px;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    position: absolute;
    opacity: 0;
    transition: 0.5s;
}

.layer:hover h3{
    top: 10%;
    opacity: 1;
}

/*-----Testimonials-----*/

.testimonials{
    width: 80%;
    margin: auto;
    padding-top: 100px;
    text-align: center;
}

.testimonial-col {
    flex-basis: 40%;
    border-radius: 10px;
    margin-bottom: 5%;
    text-align: left;
    background: #fff4cc;
    padding: 25px;
    cursor: pointer;
    display: flex;
}

.testimonial-col img {
    height: 40px;
    margin-left: 5px;
    margin-right: 30px;
    border-radius: 50%;
}

.testimonial-col p{
    padding: 0;
}

.testimonial-col h3{
    margin-top: 15px;
    text-align: left;
}

.testimonial-col .fa{
    color: #332800;
}

@media(max-width: 700px) {
    .testimonial-col img {
        margin-left: 0px;
        margin-right: 15px;
    }
}

/*-----Call To Action-----*/

.cta {
    margin: 100px auto;
    width: 80%;
    background-image: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)),url(../images/UCF_1.jpg);
    background-position: center;
    background-size: cover;
    border-radius: 10px;
    text-align: center;
    padding: 100px 0;
}

.cta h1{
    color: #fff;
    margin-bottom: 40px;
    padding: 0;
}

@media(max-width: 700px){
    .cta h1 {
        font-size: 24px;
    }
}

/*-----Footer-----*/

.footer{
    width: 100%;
    text-align: center;
    padding: 30px 0;
}

.footer h4{
    margin-bottom: 25px;
    margin-top: 20px;
    font-weight: 600;   
}

.footer p{
    width: 80%;
    text-align: center;
    margin: auto;
}

.icons .fa{
    color: #332800;
    margin: 0 13px;
    cursor: pointer;
    padding: 18px 0;
}